.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 920px;
  margin: 0 auto;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
}